service vendor.fingerprint-asus /vendor/bin/hw/android.hardware.biometrics.fingerprint-service.asus
    class hal
    user system
    group system input uhid
    interface aidl android.hardware.biometrics.fingerprint.IFingerprint/default
    writepid /dev/cpuset/system-background/tasks
